@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import "tailwindcss";

@theme {
  /* COLORS */
  --color-global-gray: oklch(0.72 0.11 178);
  --color-black: #1d1d1d;
  --color-primary: #eaeef0;
  --color-blue: #013bc0;
  --color-light-blue: #c7d4f1;
  --color-blue-lavenda: #eaeeff;
  --color-softLight-blue: #97abff;

  --color-lighter-gray: #ededed;
  --color-light-gray: #c5c5c5;
  --color-dark-gray: #666666;
  --color-darker-gray: #414141;
  --color-gray-text: #929292;
  --color-dark-gray-text: #818181;
  --color-blue-banner: #447dff;
  --color-task-card: #f6f6f6;
  --color-gray-button: #d9d9d9;
  --color-gray-text: #727272;
  --color-medium-dark-gray: #5c5c5c;

  --color-light-pink: #fff5ec;
  --color-light-pink-border: #ffead9;
  --color-light-blue-card: #eaeeff;
  --color-light-blue-border: #dbe1fb;

  --color-contact-blue: #879aed;
  --color-contact-green: #5cbcd0;
  --color-contact-orange: #eabe97;
  --color-warmPitch-orange: #FFBE84;
  --color-burnt-orange: #C96E1C;

  --color-task-green: #e3faff;
  --color-task-red: #fff5ec;
  --color-icon-green: #c6f5ff;
  --color-icon-blue: #d0d9ff;
  --color-icon-red: #ffe5ce;
  --color-bright-cyan: #63E3FF;
  --color-vibrant-cyan-blue:#19ABCB;

  --color-lighter-green: #d4f4fb;

  /* FONT */
  --font-sen: "Sen", "sans-serif";
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
